/* General Styles */
body {
  font-family: monospace;
  margin: 10px;
  padding: 10px;
  background-color: beige; /* Light mode background */
  color: black; /* Light mode text color */
}

header, main, footer {
  padding: 20px;
}

header {
  text-align: center;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

section {
  margin-bottom: 20px;
}

footer {
  text-align: center;
}

footer a {
  color: black; /* Light blue for icons */
  text-decoration: none;
  margin: 0 10px;
}

footer i {
  font-size: 24px;
  color: black; /* Explicitly set icon color */
}
