body {
  background-color: white;
  color: black;
  font-family: Monospace;
}

body.dark-mode {
  background-color: black;
  color: white;
}

button {
  padding: 10px 20px;
  margin: 20px;
  cursor: pointer;
}
